<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Empresa x</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="../plugins/bootstrap/bootstrap.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
				<script src="http://getbootstrap.com/docs-assets/js/html5shiv.js"></script>
				<script src="http://getbootstrap.com/docs-assets/js/respond.min.js"></script>
		<![endif]-->
</head>
<body>

	<div class="container">
		<div class="header clearfix">
			<h3 class="text-muted">Rotinas</h3>
		</div>

		<div class="row marketing">
			<div class="list-group" id="mntRotinas"></div>
		</div>

		<div class="form-group">
			<a href="home.html" class="btn btn-lg btn-default btn-block"
				role="button" id="btnHome"><span
				class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
		</div>
		<footer class="footer">
			<p>&copy; Terasoftware 2015</p>
		</footer>

	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="../plugins/jquery/jquery-2.1.0.min.js"></script>
	<script src="../plugins/bootstrap/bootstrap.min.js"></script>
	<!-- All functions for this theme + document.ready processing-->
	<script src="../js/Rotinas.js"></script>
</body>
</html>
